<%- include("./../header", {title: title}) %>
<div class="row">
    <div class="col-12"><a href="/user/login">Войти</a></div>
    <div class="col-12"><a href="/user/signup">Регистрация</a></div>
    <div class="col-12"><a href="/user/me">Профиль</a></div>
    <div class="col-12"><a href="/user/logout">Выйти</a></div>
</div>
<%- include("./../footer") %>