<%- include("./../header", {title: title}) %>
<form class="row" method="POST" enctype="application/x-www-form-urlencoded">
    <label class="col-12">username<br/>
        <input type="text" name="username"/>
    </label>
    <label class="col-12">password<br/>
        <input type="text" name="password"/>
    </label>
    <div class="col-12">
        <button type="submit" class="btn btn-primary">Login</button>
    </div>
</form>
<div class="row">
    <div class="col-12">
        <a href="/user"><<< Назад</a>
    </div>
</div>
<%- include("./../footer") %>