</div>
</body>
</html>
<% if (typeof scripts !== 'undefined' && Array.isArray(scripts)) { %>
    <% scripts.forEach(function (path) { %>
        <script src="<%= path %>"></script>
    <% }) %>
<% } %>